.nav {
  background: var(--nav-background);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px;
  z-index: 1000;
  color: var(--text-primary);

  .nav_items_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 35px 10px 0;

    .nav_text_wrapper {
      color: var(--primary-color);
      font-weight: 600;
      // width: 20%;
      margin-right: 5px;

      // @media screen and (max-width: 1024px) {
      //     width: unset;
      // }
    }

    .year_wrapper {
      display: flex;
      align-items: center;
      // justify-content: space-around;
      // width: 20%;
      margin-right: 5px;

      .nav_text_wrapper {
        font-weight: 600;
      }

      .select_year_button {
        width: 120px;
      }
    }
    .month_wrapper {
      display: flex;
      align-items: center;
      // justify-content: space-around;
      // width: 20%;
      margin-right: 5px;

      .nav_text_wrapper {
        font-weight: 600;
      }

      .select_month_button {
        width: 150px;
      }
    }
    .country_wrapper {
      display: flex;
      align-items: center;
      // justify-content: space-around;
      // width: 25%;

      .nav_text_wrapper {
        font-weight: 600;
        margin-right: 5px;
      }
      .select_country_button {
        width: 150px;
      }
    }
    .theme_button {
      &::before {
        content: "";
        background-image: "";
      }
      .themeSwitcher {
        border: none;
        background-color: transparent;
        padding: 0;
        color: var(--text-secondary);
        margin-left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
      }
    }
  }
}

.mobile_nav {
  background: var(--nav-background);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 25px;
  z-index: 1000;
  color: var(--text-primary);

  .mobile_nav_list {
    padding: 0 20px;
    margin-left: -2rem;
    height: 100%;

    .ul_list_mobile_nav {
      list-style-type: none;

      .li_list_mobile_nav {
        margin-bottom: 10px;
      }
    }
  }

  .heading_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .theme_menu_button {
      display: flex;
    }
    .menu_btn_wrapper {
      // background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      div {
        transition: all 0.5s;
        height: 3px;
        width: 25px;
        background-color: var(--text-color);

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.year_calendar_wrapper {
  height: 1600px;
  position: relative;
  top: 9rem;
  padding: 2rem 4rem;
  border: 1px solid #0000001c;
  border-radius: 10px;
  margin: 3rem;
  font-size: 1.2rem;
  // box-shadow: 9px 10px 20px 1px #0000001c;
  background-color: var(--background-color-dark);
  box-shadow: var(--box-shadow);

  & > div:last-child {
    color: var(--calendar-text);

    & > div:first-child {
      font-size: 2rem;

      & > button:last-child {
        display: none;
      }
    }

    & > div:nth-child(2) {
      & > div {
        display: none;
      }
    }

    & > div:last-child {
      // margin-top: 2rem;
      & > div {
        & > div {
          & > div {
            h3 {
              background: #bedadb;
              padding: 10px 0;
              color: #000;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .calendar_heading {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
  }
}

.month_calendar_wrapper {
  height: 900px;
  position: relative;
  top: 9rem;
  padding: 4rem 10rem;
  border: 1px solid #0000001c;
  border-radius: 10px;
  margin: 3rem;
  font-size: 1.2rem;
  // box-shadow: 9px 10px 20px 1px #0000001c;
  background-color: var(--background-color-dark);
  box-shadow: var(--box-shadow);

  & > div:last-child {
    color: var(--calendar-text);

    & > div:first-child {
      font-size: 2rem;

      & > button:last-child {
        display: none;
      }
    }
    & > div:nth-child(2) {
      & > div {
        display: none;
      }
    }
    & > div:last-child {
      margin-top: 2rem;

      & > div:first-child {
        background-color: #bedadb;
        padding: 10px 0;
        color: #000;
      }
    }
  }
  .calendar_heading {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
  }
}

.daily_calendar_wrapper {
  height: 400px;
  position: relative;
  top: 9rem;
  padding: 4rem 10rem;
  border: 1px solid #0000001c;
  border-radius: 10px;
  margin: 3rem;
  font-size: 1.2rem;
  // box-shadow: 9px 10px 20px 1px #0000001c;
  background-color: var(--background-color-dark);
  box-shadow: var(--box-shadow);

  & > div:nth-child(2) {
    & > div:first-child {
      font-size: 2rem;
    }
    & > div:nth-child(2) {
      text-align: center;

      & > div {
        display: none;
      }
    }
    & > div:last-child {
      display: none;
      height: 0;
    }
  }

  .daily_description {
    font-size: 2rem;
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;

    span {
      margin-right: 10px;
    }
  }
  .calendar_heading {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
  }
}
.holiday_list {
  position: absolute;
  top: 150rem;
  margin-left: 5rem;
}
.holiday_wrapper {
  position: relative;
  top: 12rem;
  height: 450px;
  // border: 1px solid #0000001c;
  width: 93vw;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  // box-shadow: 9px 10px 20px 1px #0000001c;
  background-color: var(--background-color-dark);
  box-shadow: var(--box-shadow);

  @media screen and (max-width: 1200px) {
    width: 92vw;
  }
  @media screen and (max-width: 1024px) {
    width: 90vw;
  }
  @media screen and (max-width: 960px) {
    width: 89vw;
  }
  @media screen and (max-width: 780px) {
    width: 87vw;
  }
  @media screen and (max-width: 600px) {
    width: 84vw;
  }
  @media screen and (max-width: 425px) {
    width: 78vw;
  }
  @media screen and (max-width: 375px) {
    width: 74vw;
  }
  @media screen and (max-width: 320px) {
    width: 71vw;
  }
  .holiday_heading {
    position: absolute;
    top: 1rem;
    left: 50%;
    font-size: 2rem;
    transform: translateX(-50%);
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1rem;
    padding: 10px;
  }

  .holiday_chart {
    position: absolute;
    top: 6rem;
    display: flex;
    width: 100%;

    .left_wrapper {
      border-right: 1px solid;
      width: 50%;
      position: relative;
      padding: 0 40px;

      .holiday_info {
        display: flex;
        // justify-content: space-around;
        padding: 15px 0;
        font-size: 1.2rem;

        .holiday_date {
          cursor: pointer;
          width: 25%;
        }

        .holiday_name {
          cursor: pointer;
          width: 75%;
        }
      }
    }

    .right_wrapper {
      position: relative;
      width: 50%;
      padding: 0 40px;

      .holiday_info {
        display: flex;
        // justify-content: space-around;
        padding: 15px 0;
        font-size: 1.2rem;

        .holiday_date {
          cursor: pointer;
          width: 25%;
        }

        .holiday_name {
          cursor: pointer;
          width: 75%;
        }
      }
    }
  }
}

// .body_bg {
//     background-color: white;
//     z-index: 1;
// }

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .calendar_heading {
    font-size: 1.8rem !important;
    top: -4.5rem !important;
  }
  .year_calendar_wrapper {
  }

  .month_calendar_wrapper {
    padding: 4rem 6rem;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    // display: none;
    padding: 20px 0;

    .nav_items_wrapper {
      padding: 8px 10px 0;
      font-size: 0.8rem;

      .nav_text_wrapper {
        width: unset;
      }
      .select_year_button {
        width: 100px !important;
      }
      .select_country_button {
        width: 140px;
      }
    }
  }
  .year_calendar_wrapper {
    height: 380vh;
    top: 7rem;

    & > div:last-child {
      & > div:first-child {
      }
      & > div:last-child {
        // margin-top: 2rem;
        & > div {
          & > div {
            width: calc(100% / 2);
            & > div {
              h3 {
              }
            }
          }
        }
      }
    }
    .calendar_heading {
      font-size: 1.5rem;
    }
  }

  .month_calendar_wrapper {
    padding: 2rem 4rem;
    height: 30rem;

    .calendar_heading {
      font-size: 1.5rem;
    }
  }

  .holiday_wrapper {
    top: 9rem;
    width: 88vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 600px) {
  .nav {
    // display: none;
    padding: 20px 0;

    .nav_items_wrapper {
      padding: 8px 10px 0;

      .nav_text_wrapper {
        width: unset;
        margin-left: 6px;
      }
      .select_year_button {
        width: 80px !important;
      }
      .select_country_button {
        width: 120px !important;
      }
      .select_month_button {
        width: 120px !important;
      }
    }
  }

  .month_calendar_wrapper {
    padding: 1rem 2rem;
    margin: 2rem;
    height: 40rem;

    & > div:last-child {
      & > div:first-child {
        font-size: 1rem;
      }

      & div:nth-child(2) {
        font-size: 0.8rem;
        margin-top: -1rem;

        h1 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      & > div:last-child {
        margin-top: 0;
        font-size: 0.8rem;

        & > div:last-child {
          height: 25px;
        }
      }
    }
    .calendar_heading {
      font-size: 1.2rem;
    }
  }
}
@media screen and (max-width: 425px) {
  // .nav {
  //   padding: 20px 0;

  //   .nav_items_wrapper {
  //     padding: 8px 10px 0;

  //     .nav_text_wrapper {
  //       width: unset;
  //     }
  //   }
  // }
  .year_calendar_wrapper {
    height: 632vh;
    top: 6rem;
    padding: 1rem;

    & > div:last-child {
      & > div:first-child {
        font-size: 1rem;
      }
      & > div:nth-child(2) {
        font-size: 1rem;
        margin-top: -1rem;
      }
      & > div:last-child {
        margin-top: -2rem;
        & > div {
          & > div {
            width: calc(100%);
            font-size: 0.75rem;
            padding: 0 10px;
            margin-bottom: -1.2rem;

            & > div {
              h3 {
              }
            }
          }
        }
      }
    }
    .calendar_heading {
      font-size: 1.2rem;
      top: -3rem;
    }
  }

  .holiday_wrapper {
    top: 6rem;
    width: 78vw;

    .holiday_heading {
      font-size: 1.75rem;
      top: 0;
    }

    .holiday_info {
      font-size: 1rem !important;
    }
  }

  .holiday_chart {
    display: flex;
    top: 4rem !important;

    flex-direction: column;

    .left_wrapper {
      border: none !important;
      width: 100%;
    }
    .right_wrapper {
      width: 100%;
    }
  }

  .month_calendar_wrapper {
    padding: 1rem 2rem;
    margin: 2rem;
    height: 20rem;

    & > div:last-child {
      & > div:first-child {
        font-size: 1rem;
      }

      & div:nth-child(2) {
        font-size: 0.8rem;
        margin-top: -1rem;

        h1 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      & > div:last-child {
        margin-top: 0;
        font-size: 0.8rem;

        & > div:last-child {
          height: 25px;
        }
      }
    }
    .calendar_heading {
      font-size: 1.2rem;
    }
  }
}
