.loader_wrapper {
  background-color: #00000063;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading_text {
  color: var(--text-primary);
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin-left: 1rem;
}
