:root {
  --text-color: #124a63;
  --text-secondary: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;

  --box-shadow: 0px 4px 10px rgb(0 0 0 / 19%);

  --nav-background: #e3e3e3;
  --nav-text: #08bbaa;
  --calendar-text: #000;
}

[data-theme="dark"] {
  --text-color: #f0f0f0;
  --text-secondary: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #252329;
  --background-color-dark: #3c393f;
  --background-color-light: black;

  --box-shadow: 0px 4px 10px rgb(0 0 0 / 19%);

  --nav-background: #5b595d;
  --nav-text: #08bbaa;
  --calendar-text: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toggle_menu {
  transform: rotate(45deg);
  margin-top: 0.5rem;
  div {
    &:nth-child(1) {
      transform: rotate(90deg);
    }
    &:nth-child(2) {
      transform: translateX(-1.5rem);
      opacity: 0;
      visibility: hidden;
    }
    &:nth-child(3) {
      transform: translateY(-1rem);
    }
  }
}
