.loading {
  position: fixed;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translateX(-50%); */
  background-color: rgb(123, 161, 148);
  height: 100%;
  width: 100%;
  color: darkblue;
  font-size: 2rem;
}
