.holiday_info_wrapper {
  text-align: center;
  color: #50c1c1;
  background-color: var(--background-color-dark);
  // backdrop-filter: blur(10px);
  // z-index: 10000;
  position: fixed;
  top: 5.1rem;
  left: 0;
  width: 100%;
  height: 100%;

  .close_btn_block {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    align-items: flex-end;
    // border-bottom: 1px solid $black;
    margin-bottom: -3rem;
    z-index: 102;
    button {
      background-color: var(--background-color-dark);
      border: none;
      padding: 0;
      margin: 0;
      display: flex;
      // justify-content: space-between;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-top: -2rem;
      span {
        font-size: 1rem;
        margin-top: 0.2rem;
      }
      svg {
        width: 50px;
        height: 50px;
        fill: var(--text-secondary);
      }
    }
  }

  .holiday_details_wrapper {
    text-align: left;
    padding: 2rem 4rem;
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin: 3rem;
    font-size: 1.2rem;
    background-color: var(--background-color-dark);
    box-shadow: var(--box-shadow);
  }
}

.holiday_info_background {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
